<section class="bg-full about-page align-items-center">
  <div class="container">
    <div class="about-text">
      <p>My name is <strong>Nicole Kemp</strong>, born and based in Cape Town, South Africa. I have a passion for capturing beautiful landscapes, wildlife and lifestyle
        photography, including and not limited to weddings, couples, babies and children.</p>
      <p>I completed 2 photography courses through
        <a href="https://www.jocathtraining.co.za/" target="_blank">Jocath Photography Training</a> (2014 - 2015).</p>
      <p>My weapon of choice is the <strong>Canon EOS 5D Mark IV</strong> with the Canon EF 24-70mm f4 L IS USM lens.</p>
      <br>
      <a class="social-icons" href="https://www.facebook.com/NicoleAbbottPhotography/" target="_blank">
        <img src="../../assets/facebook-logo.svg" width="30px"/>
      </a>
      <a class="social-icons" href="https://www.instagram.com/nicoleabbottphotography/">
        <img src="../../assets/instagram-logo.svg" width="30px"/>
      </a>
    </div>
  </div>
</section>
