<section class="bg-full bg-static d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="card m-auto">
      <div class="card-body">
        <h2 class="text-center">Copyright</h2>
        <!--<h3>This website and its content is copyright of Nicole Ashton Kemp - © NK Photography {{ currentYear }}. All rights reserved.</h3>-->

        <!--<p>Any redistribution or reproduction of part or all of the contents in any form is prohibited.</p>-->
        <!--<p>You may not, except with our express written permission, distribute or commercially exploit the content.-->
          <!--Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</p>-->
      </div>
    </div>
  </div>
</section>


